<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  <meta property="og:title" content="Coffee Cat (Saffy 멘토링 신청)">
  <meta property="og:image"
    content="https://user-images.githubusercontent.com/108061510/234591540-fa3ceefd-1121-428f-a991-8091ca9cb926.png">
  <meta property="og:description"
    content="Coffee Cat은 8명의 신입 개발자, 싸피 교육생이 진행 중인 멘토링 프로그램 입니다.  FORM 버튼을 누르시고, 이야기 하고 싶은 내용, 상담 받고 싶은 내용을 적어서 보내주시면,  총 6명의 멘토 중에 가장 비슷한 상황의 경험이 있는 멘토님이 연락을 드립니다.">



  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="favicon.ico">
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>